<footer>
    <main class="light-text">
        <nav>
            <a href="/docs/guide/getting/start-here">Get Started</a>
            <a href="/docs/home/">Documentation</a>
            <a href="http://blog.composure.io/">Blog</a>
            <a href="https://www.youtube.com/channel/UCm22fZAiz4M5cjQTMU0D6Fg">Demos</a>
        </nav>
        <!--
        <div class="social">
            <div>
                <a href="https://twitter.com/composureai" class="twitter"><span>twitter</span></a>
                <a href="https://github.com/composureai/composureai" class="github"><span>Github</span></a>
                <a href="http://slack.composureai.io/" class="slack"><span>Slack</span></a>
            </div>
            <div>
                <a href="http://stackoverflow.com/questions/tagged/composureai" class="stack-overflow"><span>Stack Overflow</span></a>
                <a href="https://groups.google.com/forum/#!forum/composureai-users" class="mailing-list"><span>Mailing List</span></a>
                <a href="https://calendar.google.com/calendar/embed?src=nt2tcnbtbied3l6gi2h29slvc0%40group.calendar.google.com" class="calendar"><span>Events Calendar</span></a>
            </div>
            <div>
                <a href="https://www.composure.ai/try-now/" class="button">Get Composure</a>
            </div>
        </div>
      -->
        <div id="miceType" class="center">
            Copyright &copy; {{ 'now' | date: "%Y" }} <a href="http://www.composure.ai" class="light-text">Composure.ai<a> | <a href="http://www.composure.ai/EULA" class="light-text">End User License Agreement</a>
        </div>
    </main>
</footer>
